<div>
  <h2>
    student details
  </h2>
  <div *ngIf="parseInt(student.jmbag)%2==1">
    <p>JMBAG: {{student.jmbag}}</p>
    <p >Number of ECTS points: {{student.eCTS}}</p>
    <p >{{student.tuition ? 'Student needs to pay for tuition' : ''}}</p>
  </div>
  <div *ngIf="parseInt(student.jmbag)%2==0">
    <p>First name : {{studentDTO.firstName}}</p>
    <p>Last name : {{studentDTO.lastName}}</p>
    <p>Number of cleared ECTS points : {{studentDTO.clearedECTS}}</p>
    <p>Number of remaining ECTS points : {{studentDTO.remainingECTS}}</p>
    <p>{{studentDTO.tuition ? 'Student needs to pay for tuition' : ''}}</p>
  </div>
</div>
