<div>
  <h1>Popis studenata</h1>
  <div *ngFor="let student of (studentService.getStudent() | async)"
       style="background-color:#333333;color:wheat">
  <a (click)="onStudentSelected(student)">
    <p>JMBAG: {{student.jmbag}}</p>
    <p>ECTS: {{student.eCTS}}</p>
  </a>
  </div>
  <app-details *ngIf="selectedStudent" [student]="selectedStudent"></app-details>
  <h1>Popis studenataDTO</h1>
  <div *ngFor="let studentDTO of (studentDTOService.getStudentDTO() | async)"
       style="background-color:#333333;color:wheat">
    <a (click)="onStudentDTOSelected(studentDTO)">
      <p>JMBAG: {{studentDTO.jmbag}}</p>
      <p>ECTS: {{studentDTO.remainingECTS}}</p>
    </a>
  </div>
  <app-details *ngIf="selectedStudentDTO" [studentDTO]="selectedStudentDTO"></app-details>
</div>
